{% extends "base.html" %} {% block title %} Home {% endblock %} {% block
content%}
<div class="home-container">
  <div class="home-header">About me</div>
  <div class="home-text">
    <p>
      I am a passionate programmer that likes to take on any interesting challenge. I'm always happy to learn something
      new and, even more, to put it into practice.
    <p>
      I'm a Microsoft Dynamics Business Central & Microsoft Dynamics NAV backend developer and system analyst with 3
      years of experience. I have plenty of experience with not only the development of the mentioned ERPs, but also
      with the initial draft and the following analysis of the customer's requests.
    </p>
    <p>
      Throughout my career, I have designed and developed countless customer customizations—ranging from simple field
      additions and report modifications to API integrations and external communications with services such as Česká
      pošta, Slovenská pošta, and Balíkobot, as well as e-shops. On a daily basis, I handle not only development but
      also customer support.
    </p>
  </div>
</div>

<div class="home-container">
  <div class="home-header">Education and certification</div>
  <div class="home-text">
    <p>
      May 2020 - Obchodní Akademie Vinohradská - high school
    </p>
    <p>
      May 2021 - MAVO Jazyková škola - certificate EN B2
    </p>
    <!---->
    <div class="home-text-container">
      <p>
        June 2021 - Cambridge CAE certificate EN C1
      </p>
      <a href="../static/pdf/statementOfResult.pdf" target="_blank">
        <img style="height: 200px; width: auto;" class="home-img" src="../static/img/cambridge.svg" alt="CAE">
      </a>
    </div>
    <!---->
    <div class="home-text-container">
      <p>
        September 2024 - Microsoft Dynamics 365 Business Central Developer Associate (MB820)
      </p>
      <a
        href="https://learn.microsoft.com/api/credentials/share/en-us/sklenik/AB3BD404F73565D?sharingId=EC1C69BB69D54285">
        <img style="height: 100px; width: auto;" class="home-img"
          src="../static/img/microsoft-certified-associate-badge.svg" alt="MB820">
      </a>
    </div>
  </div>
</div>

<div class="home-container">
  <div class="home-header">Experience</div>
  <div class="home-text">
    <p>
      AL & C/AL - medior (3 years)
    </p>
    <ul class="home-list">
      <li>Technical analysis of customer's requests</li>
      <li>Knowledge and understanding of the base application</li>
      <li>Development and debug in NAV Development Environment</li>
      <li>Development and debug in Visual Studio Code</li>
      <li>Development and extensions of existing tables, pages, reports</li>
      <li>Development, extensions and design of RDLC and Word reports and report layouts</li>
      <li>Implementation of and ability to debug business central integration to external APIs (shipping agents, eshops)
      </li>
      <li>Import, processing and export of XLM and Excel (.xlsx, .xlsm, .csv) files in Business Central</li>
      <li>Business Central migration from OnPrem to Cloud</li>
      <li>Deployment of extensions to NAV, Buisness Central OnPrem and Cloud environments</li>
    </ul>

    <p>
      Other programming languages
    </p>
    <ul class="home-list">
      <li>SQL - able to create simple SELECT statemets</li>
      <li>Python - basic understanding, able to put together simple scripts</li>
      <li>HTLM & CSS - basic understanding, able to put together simple websites</li>
    </ul>

    <p>
      Other IT knowledge
    </p>
    <ul class="home-list">
      <li>Knowledge of git</li>
      <li>Knowledge of code source code management in Azure DevOps and github</li>
      <li>Knowledge of testing APIs in the postman environment</li>
      <li>Very basic knowledge of Visual Studio 2022 and C++ development.</li>
    </ul>
  </div>
</div>
{% endblock %}