{% extends "base.html" %} {% block title %} Home {% endblock %} {% block
content%}
<div class="home-container">
  <div class="home-header">Ahoj, já jsem Filip.</div>
  <div class="home-text">
    <p>
      Jsem nadšený programátor, který se rád chopí každé zajímavé výzvy. Rád se učím nové věci a ještě raději je zkouším
      v praxi.
    </p>
    <p>
      Aktuálně jsem třetím rokem Microsoft Dynamics Business Central & Microsoft Dynamics NAV vývojář a analytik. Mám
      pestré zkušenosti nejen s vývojem úprav zmíněných systémů, ale i se samotným návrhem a následnou analýzou
      zákazníkových požadavků.
    </p>
    <p>
      Za svou dosavadní "kariéru" jsem navrhl a vyvinul nespočet zákaznických úprav od jednoduchého přidávání polí, přes
      úpravy/tvorbu sestav, až po integraci API a jiné komunikace například zákazníkových přepravců (Česká pošta,
      Slovenská pošta, Balíkobot) nebo eshopů. Na denní bázi jsem zvyklý řešit nejen vývoj, ale i zákaznickou podporu.
    </p>
  </div>

  <div class="home-header">Dosažené vzdělání a certifikace</div>
  <div class="home-text">
    <p>
      Květen 2020 - Obchodní Akademie Vinohradská - studium zakončeno maturitou z Ekonomiky, Účetnictví, Biologie,
      Českého a Anglického jazyka
    </p>
    <p>
      Květen 2021 - MAVO Jazyková škola - obdržen certifikát AJ úrovně B2
    </p>
    <p>
      Červen 2021 - MAVO Jazyková škola - obdržen CAE certifikát AJ úrovně C2
    </p>
  </div>

  <div class="home-header">Zkušenosti</div>
  <div class="home-text">
    <p>
      AL & C/AL - medior (3 roky)
    </p>
    <li class="home-quote">Technická analýza zákaznických úprav</li>
    <li class="home-quote">Znalost a orientace v baseapp kódu</li>
    <li class="home-quote">Vývoj a debug kódu v prostředí NAV Development Environment</li>
    <li class="home-quote">Vývoj a debug kódu v prostředí Visual Studio Code</li>
    <li class="home-quote">Vývoj & úpravy existujících tabulek, pagí, reportů</li>
    <li class="home-quote">Vývoj, úpravy a design sestav ve formátech RDLC a Word</li>
    <li class="home-quote">Integrace a dovednost debugovat napojení Business Central na externí API (přepravci, eshopy)
    </li>
    <li class="home-quote">Import, zpracování a export XLM a Excel (.xlsx, .xlsm, .csv) souborů v rámci Business
      Central
    <li class="home-quote">Migrace systémů Dynamics Business Central OnPrem do Cloudu</li>
    <li class="home-quote">Nasazování úprav do prostředí NAV, Business Central OnPrem & Cloud</li>

    <p>
      Další programovací jazyky
    </p>
    <li class="home-quote">SQL - dovednost dát dohromady jednodušší inspecty</li>
    <li class="home-quote">Python - základní znalost, dovednost sepsat jednoduché scripty</li>
    <li class="home-quote">HTLM & CSS - základní znalost, dovednost dát dohromady jednodušší webové stránky</li>

    <p>
      Další IT dovednosti
    </p>
    <li class="home-quote">Znalost a práce s gitem na denní bázi</li>
    <li class="home-quote">Znalost a dovednost práce s verzováním kódu v prostředí Azure Devops</li>
    <li class="home-quote">Znalost a dovednost práce s verzováním kódu v prostředí github</li>
    <li class="home-quote">Znalost a dovednost práce s prostředím postman k testování API</li>
  </div>
</div>


</div>
{% endblock %}